/* Global Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Heaader Styling */

header {
    background-color: #41877a;
    color: white;
    font-size: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nav Styling */
nav {
    background-color: #eee;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #4caf50;
}

/* main content styling*/
main, .home, .mystudy, .gallery-container, .left, .right{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

/*sidebar styling*/
.left, .right {
    background-color: #fff9ee;
    padding: 15px;
    border-radius: 8px;
}

.left ul li a, .right ul li a {
    color: black !important;
    text-decoration: none;
} 

/* Table Styling for MyStudy */
.mystudy table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.mystudy th {
    background-color: #6a5894;
    color: white;
    padding: 10px;
    text-align: left;
}

.mystudy tr td {
    background-color: #eee;
}


/* Footer styling */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;    
}

/* Animation */

.gallery-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    animation: slide 10s linear infinite;
}

.gallery-container img {
    margin: 10px;
    border-radius: 8px;
}

@keyframes slide {
    from { transform: translateX(100%);}
    to { transform: translateX(-100%);}
}